.slide-attestation h1 {
    text-transform: none;
}

.col-50 {
    float: left;
    width: 50%;
}

.align-left {
    text-align: left;
}

.full-width {
    width: 100% !important;
}

.term {
    color: #42affa;
}

.reveal pre code.long-code {
    max-height: 500px;
}

.reveal pre.wide-code {
    width: 100%;
}

.reveal ul.left-ul {
    display: block;
}